In [1]:
# import those package i need
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

利用pandas.cut()這一個函式可以將數值進行分割
比如說可以自訂一個分類boundaries，如下面這一個cell所示：
bins_cut是一個我自訂的年齡間距
所以如果利用pd.cut(ages['age'], bins=bins_cut,labels=False)這一個函式，就可以將['age']這一個column依據我設計的bins_cut來進行分類
所以執行之後，一共會分成5組 ：(0, 10], (10, 20], (20, 30], (30, 50], (50, 100]。

right 如果是True，分出來的分類boundary就會包含上界，但不包含下界，如果是False，就會是相反的。
labels這一個功能如果設定成False，就會將(0, 10], (10, 20], (20, 30], (30, 50], (50, 100]這五組，分成0,1,2,3,4這5組
retbins 如果是True，就會把bins return回來，如果bins是scalar type是比較useful的 ( default = False)
precision (default = 3) 會控制最後呈現的boundaries的精準度，也就是小數點下第幾位的準確度
include_lowest : Whether the first interval should be left-inclusive or not.

In [2]:
# generate a data frame  'age'
ages = pd.DataFrame({"age": [18,22,25,27,7,21,23,37,30,61,45,41,9,18,80,100]})

bins_cut = (0,10,20,30,50,100)
ages['customized_age_grp'] = pd.cut(ages['age'],bins = bins_cut,right = True)
ages['customized_age_grp_type'] = pd.cut(ages['age'],bins = bins_cut,right = True,labels=False)
ages.head()

   age customized_age_grp  customized_age_grp_type
0   18           (10, 20]                        1
1   22           (20, 30]                        2
2   25           (20, 30]                        2
3   27           (20, 30]                        2
4    7            (0, 10]                        0

也可以針對數值的分佈進行分類
比如說: pd.cut(ages['ages'], bins = 4)會將ages這一個dataFrame裡面其中'ages'這一個column裡面的數值分成四類，分類的依據是將年分成齡四等份，所以每一組的差距間隔是固定的，可以看下面這一個cell的output，每一組的年齡兼具是固定的，所以每一組的成員數量都不一樣。

In [3]:
ages["equal_width_age"] = pd.cut(ages["age"], bins=4,retbins=False)
ages['equal_width_type'] = pd.cut(ages["age"], bins=4, labels=False)
ages['equal_width_age'].value_counts()

(6.907, 30.25]    10
(30.25, 53.5]      3
(76.75, 100.0]     2
(53.5, 76.75]      1
Name: equal_width_age, dtype: int64

另外也可以根據數量進行分類，比如說pd.qcut(ages['age'],bins = 4)這一個函式就是將age這一個column的數值依照大小排序分成四類，每一組的數量都是相同的，所以可以看到下面的output，每一組的間距都不同，但是數量都一樣。

In [4]:
ages["equal_freq_age"] = pd.qcut(ages["age"],4)
ages['equal_freq_type']= pd.qcut(ages["age"],4,labels=False)
ages['equal_freq_age'].value_counts()

(42.0, 100.0]     4
(26.0, 42.0]      4
(20.25, 26.0]     4
(6.999, 20.25]    4
Name: equal_freq_age, dtype: int64

In [7]:
ages

,age,customized_age_grp,customized_age_grp_type,equal_width_age,equal_width_type,equal_freq_age,equal_freq_type
0,18,"(10, 20]",1,"(6.907, 30.25]",0,"(6.999, 20.25]",0
1,22,"(20, 30]",2,"(6.907, 30.25]",0,"(20.25, 26.0]",1
2,25,"(20, 30]",2,"(6.907, 30.25]",0,"(20.25, 26.0]",1
3,27,"(20, 30]",2,"(6.907, 30.25]",0,"(26.0, 42.0]",2
4,7,"(0, 10]",0,"(6.907, 30.25]",0,"(6.999, 20.25]",0
5,21,"(20, 30]",2,"(6.907, 30.25]",0,"(20.25, 26.0]",1
6,23,"(20, 30]",2,"(6.907, 30.25]",0,"(20.25, 26.0]",1
7,37,"(30, 50]",3,"(30.25, 53.5]",1,"(26.0, 42.0]",2
8,30,"(20, 30]",2,"(6.907, 30.25]",0,"(26.0, 42.0]",2
9,61,"(50, 100]",4,"(53.5, 76.75]",2,"(42.0, 100.0]",3
10,45,"(30, 50]",3,"(30.25, 53.5]",1,"(42.0, 100.0]",3
11,41,"(30, 50]",3,"(30.25, 53.5]",1,"(26.0, 42.0]",2
12,9,"(0, 10]",0,"(6.907, 30.25]",0,"(6.999, 20.25]",0
13,18,"(10, 20]",1,"(6.907, 30.25]",0,"(6.999, 20.25]",0
14,80,"(50, 100]",4,"(76.75, 100.0]",3,"(42.0, 100.0]",3
15,100,"(50, 100]",4,"(76.75, 100.0]",3,"(42.0, 100.0]",3