In [58]:
import numpy as np
import pandas as pd

In [59]:
population = np.random.randint(999,size=4)*100000
data={
    "Country" : ['Taiwan', 'Japen', 'Korea', 'Thailand'],
    "population": population}

In [60]:
table = pd.DataFrame(data)
table

    Country  population
0    Taiwan     3900000
1     Japen    79900000
2     Korea    83400000
3  Thailand    27100000

In [65]:
a=table.population # finding the index of the Max value
print("The Country which has the most population is",table.Country[a.values.argmax()])

The Country which has the most population is Korea